body {
  text-align: center;
  background-color: rgb(224, 224, 192);
}

h1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 55px;
  color: rgb(0, 0, 0);
}

.loadTweetsButton {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-family: 18px;
  color: rgb(0, 0, 0);
}

.user {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-family: 18px;
  color: rgb(202, 39, 39);
}

.userTweet {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-family: 18px;
  color: rgb(0, 0, 0);
  border: 3px solid rgb(0, 0, 0);
}